@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3859be, #a8f5ff);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #3498db;
}
.signup-header h1{
    font-size: 2.5rem;
    columns: 212121;
}
.signup-header p{
    font-size: 0.8rem;
    color: #555;
}
.singup-body{
    padding: 20px 0px;
}
.singup-body p{
    margin: 10px 0px;
}
.singup-body p label{
    font-weight: 400;
    display: block;
}
.singup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-top: 3px;
}
.singup-body p input[type="submit"]{
    background-color: #3498db;
    border-style: none;
    color: #fff;
    cursor: pointer;
}
.singup-body p input[type="submit"]:hover{
    background-color: #0a639e;  
}
.signup-footer p{
    color: #555;
    text-align: center;
}
.signup-footer p a{
    color: #3498db;
}